.buttons{
	margin: 3*$vspacing 0;
	
	@include align-items(center);
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(space-around);
	
	* {
		color: $color_primary;
		font-size: large;
	}
	i.fa{
		margin-right: .5em;
	}
}